.center-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

}


.invoice-wrapper{
  display:grid;
  grid-template-rows:  20% 20% 60%;
  grid-template-columns: 50% 50%;
  width: 22cm;
  height: 28cm;
  padding: 25mm 31mm 25mm 31mm;
  border: 1px solid black;

}

.company-info{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.company-info h4 {
  margin: 0.5em;
}

.company-logo{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: flex-end;
}

.customer-info{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.purchase-info{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: flex-end;
}

.table{
  width: 100%;
  height: 100%;
  display: grid;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header-row th{
    border-bottom: 3px solid black;
}

.light-row{
  background-color: #eeeeee;
}

.dark-row{
  background-color: #fafafa;
}
