.base-container{
  width:100vw;
  height:100vh;
  min-height:920px;
  min-width: 920px;

  display: grid;
  grid-template-columns: 12% 80% 8%;
  grid-template-rows: 10% 90%;
}

.logo-container{
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.logo{
  margin:1rem;
  width: auto;
  height: 5.5rem;
}

.search-container{
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  display:grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
}

.search-container .logo {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.search-container .search-button{
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}



.search-container{
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}


.records{
  justify-self: center;
  align-self: top;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;


}

.array-item-container{
  display:grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 50% 50%;
  margin-top: 1rem;
}

.array-items-header{
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.array-items-button{
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.array-items{
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.array-items-button .button{
  margin: 1rem;
}

.inputForm{
  width:50vw;

}

table{
  border: solid black 1px;

}

.header .table-cell{
  background-color: #e0e0e0  ;
}

.table-cell{
  border: solid black 1px;
  padding: 0.5rem;

}

.table-cell.odd{
  background-color: #eeeeee   ;
}
